{% extends "base.html" %}

{#- Load the design's typefaces: Archivo (sans), Spectral (serif display),
    IBM Plex Mono (kickers/code). Matches "CatalogCanvas Docs.html". -#}
{% block extrahead %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800;900&family=Spectral:ital,wght@0,400;0,500;0,600;1,400;1,600&family=IBM+Plex+Mono:wght@400;500;600&display=swap" rel="stylesheet" />
{% endblock %}
